.label {
    color: white;
    margin: 5px;
}

.label-giant {
    font-size: 100px;
    text-shadow: 0px 5px 0px black;
}

.label-large {
    font-size: 25px;
    text-shadow: 0px 5px 0px black;
}

.label-small {
    font-size: 15px;
    text-shadow: 0px 3px 0px black;
}

.label-tiny {
    font-size: 10px;
    text-shadow: 0px 2px 0px black;
}

.main-title {
    text-align: center;
    font-size: 30px;
}

.text-block {
    font-size: 14px;
    color: white;
    padding: 10px 10%;
}

.text-block p {
    margin: 10px 0px;
}

.text-block ul {
    margin-left: 20px;
    list-style-type: square;
}
