.label {
  color: white;
  margin: 5px;
}

.label-giant {
  font-size: 100px;
}

.label-large {
  font-size: var(--font-size-l);
}

.label-small {
  font-size: var(--font-size-s);
}

.label-tiny {
  font-size: var(--font-size-xs);
}

.main-title {
  text-align: center;
  font-size: var(--font-size-xxl);
}

.text-block {
  font-size: var(--font-size-m);
  color: white;
  padding: 10px 10%;
}

.text-block p {
  margin: 10px 0px;
}

.text-block ul {
  margin-left: 20px;
  list-style-type: square;
}
