.tab-layout {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
}

.tab-layout > * {
  flex: 1 0 0px;
}

.tab {
  color: white;
  text-align: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
}

.tab:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.tab.selected {
  border-bottom-color: white;
}
