.screen-layout {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: auto;
    height: 100%;
    animation: animate-in 0.2s ease-out;
}

.screen-layout-top, .screen-layout-bottom {
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.screen-layout-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 25px;
}

.screen-layout-content>* {
    flex: 1 1 auto;
    max-height: 100%;
}

.screen-layout-v2 {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.screen-layout-v2>* {
    height: 100%;
}

.screen-layout-v2>.screen-main-column {
    flex: 0 0 45%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
}

.screen-layout-v2>.screen-main-column * {
    backdrop-filter: none;
}

.screen-layout-v2>.screen-main-column .key-value-layout {
    padding: 5px;
    padding-left: 10%;
    padding-right: 10%;
}

.screen-layout-v2>.screen-main-column>.screen-main-column-header {
    flex-basis: 40%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.screen-layout-v2>.screen-main-column>.screen-main-column-footer {
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen-layout-v2>.screen-main-column>.screen-main-column-content {
    flex: 1 0 0;
    overflow: hidden auto;
}

.screen-layout-v2>.screen-central-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 10%;
}
