.screen-layout-column {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.screen-layout-column>* {
    height: 100%;
}

.screen-layout-column>.screen-layout-column-main-column {
    flex: 0 0 45%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
}

.screen-layout-column>.screen-layout-column-main-column * {
    backdrop-filter: none;
}

.screen-layout-column>.screen-layout-column-main-column>.screen-layout-column-main-column-header {
    flex-basis: 40%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.screen-layout-column>.screen-layout-column-main-column>.screen-layout-column-main-column-footer {
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.screen-layout-column>.screen-layout-column-main-column>.screen-layout-column-main-column-content {
    flex: 1 0 0;
    overflow: hidden auto;
}

.screen-layout-column>.screen-layout-column-central-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.mobile * {
    backdrop-filter: none !important;
}

.mobile .screen-layout-column>.screen-central-content {
    display: none;
}

.mobile .screen-layout-column>.screen-layout-column-main-column {
    flex-basis: 100%;
    background: transparent;
    justify-content: start;
    padding-left: 10px;
    padding-right: 10px;
}

.mobile .screen-layout-column>.screen-layout-column-main-column>.screen-layout-column-main-column-header {
    flex-basis: 40%;
    flex-shrink: 1;
    justify-content: end;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 1;
}

.mobile .screen-layout-column>.screen-layout-column-main-column>.screen-layout-column-main-column-content {
    flex: 0 1 auto;
}

.mobile .screen-layout-column>.screen-layout-column-main-column>.screen-layout-column-main-column-footer {
    padding-top: 50px;
    justify-content: end;
    flex-basis: auto;
}

.mobile .screen-layout-column .screen-layout-column-main-column-content,
.mobile .screen-layout-column .screen-layout-column-main-column-footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.mobile .screen-layout-column>.screen-layout-column-main-column>.screen-layout-column-main-column-header .main-title {
    color: black;
    text-shadow: none;
    background: white;
    margin: 0px;

    position: relative;
    top: 20px;
}

.mobile .screen-layout-column .screen-layout-column-main-column-content {
    padding-top: 30px;
}

.mobile .main-menu .screen-layout-column .screen-layout-column-main-column-content {
    padding: 5px;
}

.mobile .main-button {
    text-align: center;
    font-size: 20px;
    background-color: rgba(255,255,255,0.1);
    margin: 5px;
}

.mobile .logo {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100% !important;
}

.mobile .narrow-column {
    max-width: 100%;
}

.mobile .screen-layout-column {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.mobile .balanced-row {
    flex-direction: column;
}

.mobile .screen-layout {
    padding: 10px;
}

.mobile .screen-layout-content {
    padding: 10px;
}
