.screen-stack-layout {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
}

.screen-stack-layout-top,
.screen-stack-layout-bottom {
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.screen-stack-layout-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.screen-stack-layout-content > * {
  flex: 1 1 auto;
  max-height: 100%;
}
